
<h1>Orders for Table #<%= @table.table_num %></h1>

<div class="waiter-page">
<div class="form">

  <% @orders.each do |order| %>

    <p>Order for: <%= order %></p>

  <% end %>

  <%= button_to "Create new Order", new_table_order_path(@table.id), method: :get %>

</div>
</div>
