<!DOCTYPE html>
<html>
<head>
  <title>RestApp</title>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Questrial' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
